# ─── Database ─────────────────────────────────────────────────────────────────
DATABASE_URL=
AUTH_DATABASE_URL=
JWT_SECRET=

NODE_ENV=development

# ─── Vite proxy target ──────────────────────────────────────────────────────────────────────
VITE_PROXY_TARGET=http://localhost:3000
VITE_AUTH_PROXY_TARGET=http://localhost:3001
REACT_APP_API_URL=http://localhost:3000
