# ─── Database ─────────────────────────────────────────────────────────────────
DATABASE_URL=

NODE_ENV=development

# ─── Vite proxy target ──────────────────────────────────────────────────────────────────────
VITE_PROXY_TARGET=http://localhost:3000
REACT_APP_API_URL=http://localhost:3000
