NODE_ENV=development

# Si MYSQL_HOST n'est pas défini, l'application utilisera SQLite par défaut.
# Configuration SQLite
SQLITE_DB_LOCATION=data/todo.db

# Configuration MySQL
MYSQL_HOST=localhost
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_DB=todos

# Variables pour Docker Secrets (optionnel)
MYSQL_PASSWORD_FILE=
